::-moz-selection {
  background: #ceb49c;
  color: white;
}

::selection {
  background: #ceb49c;
  color: white;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #ebe4df;
}

::-webkit-scrollbar-thumb {
  background: #b9a28d;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ceb49c;
}

body {
  color: #726054;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  letter-spacing: 3px;
}

ul {
  list-style: circle;
}

.navbar .nav-link {
  letter-spacing: 3px;
  font-family: "Fredoka One", cursive;
}
.navbar button {
  border: none;
}
.navbar button:focus {
  border: none;
  outline: none;
}
.navbar button:active {
  border: none;
  outline: none;
}

#section01 {
  padding-top: 100px;
  padding-bottom: 0px;
}
#section01 .pic {
  width: 140px;
  height: 140px;
  background: url(../img/mypic.jpg) no-repeat center/cover;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#section01 .pic:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-box-shadow: 5px 5px 15px rgb(221, 221, 221);
          box-shadow: 5px 5px 15px rgb(221, 221, 221);
}
#section01 h2 {
  display: inline-block;
}
#section01 .card {
  width: 330px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ceb49c;
  -webkit-box-shadow: 8px 8px #ceb49c;
          box-shadow: 8px 8px #ceb49c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#section01 .card:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
#section01 .card:hover i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffc107;
}

.card-title {
  display: inline-block;
  font-weight: 600;
  border-bottom: 3px solid rgba(238, 226, 226, 0.8);
  margin-bottom: 1rem;
  padding-bottom: 7px;
}

h3, h2 {
  font-family: "Fredoka One", cursive;
  text-shadow: 1px 1px #ffffff, 4px 4px #ebe4df;
}

#section02 {
  padding: 100px 0;
  background-color: #fbf5f0;
}
#section02 .row {
  text-align: start;
}
#section02 .card {
  background-color: transparent;
  border: none;
  border-left: 4px solid #b9a28d;
  border-radius: 0%;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#section02 .card:hover * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#section02 .card:hover h6 {
  color: #ffc107;
}
#section02 .card:hover .card-body {
  background-color: rgba(255, 255, 255, 0.7);
}
#section02 .card-body {
  padding: 10px 20px 0;
}
#section02 h5 {
  border-bottom: 3px solid rgba(238, 226, 226, 0.8);
  margin: 1rem 0;
  padding: 5px;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
}
#section02 h6 {
  color: #726054;
  font-weight: 600;
}
#section02 .experience li {
  margin-bottom: 0.3rem;
}

.time {
  font-size: 12px;
  margin-bottom: 8px;
}

#section03 {
  padding: 100px 0;
}
#section03 .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#section03 .card {
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #ceb49c;
  -webkit-box-shadow: 0px 8px #ceb49c;
          box-shadow: 0px 8px #ceb49c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#section03 .card:hover .card-img-top {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}
#section03 .card:hover a {
  opacity: 1;
}
#section03 .card:hover .qrcode {
  opacity: 1;
}
#section03 .card-body {
  padding: 1rem 0.5rem;
}
#section03 .imgbox {
  overflow: hidden;
  position: relative;
}
#section03 .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}
#section03 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#section03 a {
  opacity: 0;
  background-color: #ceb49c;
  border: 2px solid #ceb49c;
  color: #726054;
  padding: 8px 15px;
  border-radius: 40px;
  margin: 6px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#section03 a:hover {
  border: 2px solid;
  color: #fff;
}
#section03 .qrcode {
  opacity: 0;
  width: 40%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#section03 h5 {
  letter-spacing: normal;
  color: #726054;
}
#section03 .card-text {
  text-align: left;
  font-size: 0.9rem;
}
#section03 i {
  margin-left: 0.7rem;
}
#section03 .badge {
  background-color: #726054;
  border-radius: 50rem;
}
#section03 .badges {
  margin-top: 16px;
}
#section03 .mark {
  background-color: #ebe4df;
  display: inline-block;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
}

@media (min-width: 768px) {
  #section01 .row {
    margin-bottom: 50px;
  }
  .work_pjc .imgbox {
    width: 100%;
    /* Set the aspect ratio, here 16:9 */
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  }
  .work_pjc .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  #section01 {
    padding-left: 100px;
    padding-right: 100px;
  }
  #section02 {
    padding-left: 100px;
    padding-right: 100px;
  }
  #section03 {
    padding-left: 50px;
    padding-right: 50px;
  }
  #section03 .card-text {
    font-size: 0.95rem;
    line-height: 1.7rem;
  }
}