@import "functions";
@import 'variables';

::selection {
  background: $primary;
  color: white;
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #ebe4df;
}

::-webkit-scrollbar-thumb {
  background: #b9a28d;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ceb49c;
}
body {
  color: $font;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  letter-spacing: 3px;
}
ul {
  list-style: circle;
}
.navbar {
  .nav-link {
    letter-spacing: 3px;
    font-family: 'Fredoka One', cursive;
  }
  button {
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
    &:active {
      border: none;
      outline: none;
    }
  }
}
#section01 {
  padding-top: 160px;
  padding-bottom: 100px;
  .pic {
    width:300px;
    height:300px;
    background: url(../img/my.jpg)no-repeat center/cover;
    border-radius: 10px;
    transition: .5s;
    &:hover {
      filter: brightness(1.05);
      box-shadow: 5px 5px 15px rgb(221, 221, 221);
    }
  }
  h2 {
    display: inline-block;
  }
  .card {
    width: 330px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ceb49c;
    box-shadow: 8px 8px #ceb49c;
    transition: .5s;
    &:hover {
      transform: translateY(-6px);
      i {
        transition: .5s;
        color: $yellow;
      }
    }
  }
}
.card-title {
  display: inline-block;
  font-weight: 600;
  border-bottom: 3px solid rgba(238, 226, 226, 0.8);
  margin-bottom: 1rem;
  padding-bottom: 7px;
}
h3,h2 {
  font-family: 'Fredoka One', cursive;
  text-shadow: 1px 1px #ffffff,  4px 4px #ebe4df;
}
#section02 {
  padding: 100px 0;
  background-color: #fbf5f0;
  .row {
    text-align: start;
  }
  .card {
    background-color: transparent;
    border: none;
    border-left: 4px solid #b9a28d;
    border-radius: 0%;
    padding: 0%;
    display: flex;
    position: relative;
    &::after {
      content: '';
      width: 13px;
      height: 13px;
      border-radius: 10px;
      background-color: #b9a28d;
      position: absolute;
      top: 0;
      left: -8px;
    }
    &:hover .card-body {
      transform: translateY(-2px);
    }
  }
  .card-body {
    padding: 0px 26px 10px;
    transition: .5s;
  }
  h5{
    border-bottom: 3px solid rgba(238, 226, 226, 0.8);
    margin-bottom: 1rem;
    padding-bottom: 7px;
    font-weight: 600;
    display: inline-block;
  }
  h6 {
    color: #a38f7b;
    font-weight: 600;
  }
}
.time {
  font-size: 12px;
  margin-bottom: 8px;
}
#section03 {
  padding: 100px 0;
  .col-md-4 {
    display: flex;
  }
  .card {
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ceb49c;
    box-shadow: 0px 8px #ceb49c;
    transition: .5s;
    &:hover {
      .card-img-top {
      transform: scale(1.06);
      filter: brightness(0.4);
      }
      a {
        opacity: 1;
      }
      .qrcode {
        opacity: 1;
      }
    }
  }
  .imgbox {
    overflow: hidden;
    position: relative;
  }
  .card-img-top {
    object-fit: cover;
    transition: .5s;
    transform: scale(1.005);
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  a {
    opacity: 0;
    background-color: #ceb49c;
    border: 2px solid #ceb49c;
    color: $font;
    padding: 8px 15px;
    border-radius: 40px;
    margin: 6px;
    font-weight: 600;
    transition: .3s;
    &:hover {
      border: 2px solid;
      color: #fff;
    }
  }
  .qrcode {
    opacity: 0;
    width: 40%;
    transition: .3s;
  }
  h5 {
    letter-spacing: normal;
    color: $primary;
  }
  .card-text {
    text-align: left;
    font-size: .9rem;
  }
  i {
    margin-left: .7rem;
  }
  .badge {
    background-color: $font;
    border-radius: 50rem;
  }
  .badges {
    margin-top: 16px;
  }
  .mark {
    background-color: #ebe4df;
    display: inline-block;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 0;
  }
}
@media (min-width:768px) {
  #section01 {
    .row {
      margin-bottom: 50px;
    }
  }
}
@media (min-width:992px) {
  #section01 {
    padding-left: 100px;
    padding-right: 100px;
  }
  #section02 {
    padding-left: 150px;
    padding-right: 150px;
  }
  #section03 {
    padding-left: 100px;
    padding-right: 100px;
    .card-text {
      font-size: .95rem;
      line-height: 1.7rem;
    }
  }
}